* {
    padding: 0;
    margin: 0;
}

body {
    /* linear-gradient (rgba(0, 0, 128, 0.5), rgba(255, 0, 200, 0.2)), */
    background: linear-gradient(rgba(0, 0, 128, 0.5), rgba(255, 0, 200, 0.2)), url('../imgs/city.jpg') no-repeat center center fixed; 
    background-size: cover;
    height: 100vh;
}

main {
    box-sizing: border-box;
    background-image: url("../imgs/Stars-color.gif");
    opacity: 84%;
    margin: 40px auto auto auto;
    padding: 22px;
    width: 66%;
    height: 90vh;
    border-radius: 5px;
}

section {
    box-sizing: border-box;
    border-radius: 5px;
    background: linear-gradient( rgb(255, 69, 0, 0.2), rgba(47, 3, 190, 0.2));
    padding: 20px;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1.1rem;
    font-style: italic;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}


/* .close {
    display: inline-block;
    width: 50px;
    height: 50px;
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 100px;
    content: ' ';
    height: 50px;
    width: 5px;
    background-color: #333;
    transform: rotate(-45deg);
    transition: all 0.25s ease-out;
}

.close:after {
    transform: rotate(-135deg);
}

.close:hover:before, .close:hover:after {
    position: absolute;
    left: 100px;
    content: ' ';
    height: 50px;
    width: 5px;
    background-color: #333;
    transform: rotate(90deg);
    transition: all 0.25s ease-out;
} */