* {
    padding: 0;
    margin: 0;
}

body {
    /* linear-gradient (rgba(0, 0, 128, 0.5), rgba(255, 0, 200, 0.2)), */
    background: url('../imgs/3.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: 90% 50%;
    height: 100vh;
    display: flex;
}

main {
    box-sizing: border-box;
    background-image: url("../imgs/Stars-color.gif");
    opacity: 84%;
    margin: auto;
    padding: 22px;
    width: 66%;
    height: 90vh;
    border-radius: 5px;
}


section.light-mode {
    box-sizing: border-box;
    border-radius: 5px;
    background: linear-gradient( rgba(219, 76, 33, 0.7), rgba(47, 3, 190, 0.7));
    padding: 20px;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}

section.dark-mode {
    box-sizing: border-box;
    border-radius: 5px;
    background: linear-gradient( rgba(0, 195, 255, 0.2), rgba(252, 1, 105, 0.2));
    padding: 20px;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}

h2 {
    margin-top: 20px;
    font-family: 'Codystar', cursive;
    font-size: 4rem;
    color: rgb(255, 255, 255);
}

form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input[type=text] {
    background-color: rgba(0, 0, 0, 0.602);
    color: #fff;
    width: 80%;
    height: 50px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

button[type=button] {
    background-color: rgba(253, 91, 76, 0.7);
    color: white;
    width: 20%;
    height: 50px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}

button[type=button]:hover {
    background-color: rgb(147, 36, 250);
}

ul {
    list-style-type: none;
    font-size: 2.6rem;
    font-family: 'Rajdhani', sans-serif;
    margin-top: 50px;
}

li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.todoItem {
    width: 74%;
}

.check {
    display: block;
    position: relative;
    padding-left: 60px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 46px;
    width: 46px;
    background-color: rgba(255, 255, 255, 0.5);
}

.check:hover {
    color: rgb(70, 135, 255);
}

.check:hover input~.checkmark {
    background-color: rgba(0, 0, 128, 0.7);
}

.check input:checked~.checkmark {
    background-color: rgb(147, 36, 250);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check input:checked~.checkmark:after {
    display: block;
}

.check .checkmark:after {
    left: 12px;
    top: 0px;
    width: 17px;
    height: 35px;
    border: solid white;
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.status {
    font-family: 'Codystar', cursive;
    font-size: 2.2rem;
}

.close {
    display: inline-block;
    width: 50px;
    height: 50px;
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    right: 20vw;
    content: ' ';
    height: 50px;
    width: 5px;
    background-color: #fff;
    transform: rotate(-45deg);
    transition: all 0.25s ease-out;
}

.close:after {
    transform: rotate(-135deg);
}

.close:hover:before, .close:hover:after {
    position: absolute;
    right: 20vw;
    content: ' ';
    height: 50px;
    width: 5px;
    background-color: rgb(147, 36, 250);
    transform: rotate(90deg);
    transition: all 0.25s ease-out;
}

/* Media query for screen 1600x900 */

@media screen and (max-width: 1820px) and (min-width: 1601px) {
    h2 {
        margin-top: 10px;
    }
    input[type=text] {
        font-size: 1.8rem;
    }
    button[type=button] {
        font-size: 1.8rem;
    }
    ul {
        margin-top: 40px;
        font-size: 2.4rem;
    }
    .check {
        padding-left: 50px;
    }
    .checkmark {
        left: 0;
        height: 42px;
        width: 42px;
    }
    .check .checkmark:after {
        width: 14px;
        height: 34px;
    }
    .status {
        font-family: 'Codystar', cursive;
        font-size: 1.8rem;
    }
    .close {
        padding-top: 3px;
        width: 44px;
        height: 46px;
    }
    .close:before, .close:after {
        right: 20.8vw;
        height: 46px;
    }
    .close:hover:before, .close:hover:after {
        right: 20.8vw;
        height: 46px;
    }
}

/* Media query for screen 1440x900 */

@media screen and (max-width: 1600px) and (min-width: 1367px) {
    h2 {
        margin-top: 10px;
    }
    input[type=text] {
        font-size: 1.8rem;
    }
    button[type=button] {
        font-size: 1.8rem;
    }
    ul {
        margin-top: 40px;
        font-size: 2.4rem;
    }
    .todoItem {
        width: 71%;
    }
    .check {
        top: -3px;
        padding-left: 50px;
    }
    .checkmark {
        left: 0;
        height: 42px;
        width: 42px;
    }
    .check .checkmark:after {
        width: 14px;
        height: 34px;
    }
    .status {
        font-family: 'Codystar', cursive;
        font-size: 1.6rem;
    }
    .close {
        padding-top: 3px;
        width: 44px;
        height: 46px;
    }
    .close:before, .close:after {
        right: 20.8vw;
        height: 46px;
    }
    .close:hover:before, .close:hover:after {
        right: 20.8vw;
        height: 46px;
    }
}

/* Media query for screen 1366x768 */

@media screen and (max-width: 1366px) and (min-width: 1025px) {
    h2 {
        font-size: 3.6rem;
        margin-top: 10px;
    }
    input[type=text] {
        font-size: 1.6rem;
    }
    button[type=button] {
        font-size: 1.6rem;
    }
    ul {
        margin-top: 30px;
        font-size: 2.2rem;
    }
    .todoItem {
        width: 70%;
    }
    .check {
        padding-left: 46px;
    }
    .checkmark {
        left: 0;
        height: 38px;
        width: 38px;
    }
    .check .checkmark:after {
        width: 10px;
        height: 32px;
    }
    .status {
        font-family: 'Codystar', cursive;
        font-size: 1.4rem;
    }
    .close {
        padding-top: 5px;
        width: 40px;
        height: 40px;
        padding-left: 20px;
    }
    .close:before, .close:after {
        right: 21.2vw;
        height: 40px;
    }
    .close:hover:before, .close:hover:after {
        right: 21.2vw;
        height: 40px;
    }
}

/* Media query for screen tablette */
@media screen and (max-width: 1024px) and (min-width: 901px) {
    main {
        position: absolute;
        bottom: 8%;
        width: 100%;
        height: 80%;
    }
    h2 {
        position: absolute;
        top: -56px;
        left: 0;
        right: 0;
        font-size: 3rem;
        margin-top: 10px;
    }
    form {
        margin-top: 2px;
    }
    input[type=text] {
        font-size: 1.2rem;
    }
    button[type=button] {
        background-color: rgb(147, 36, 250);
        font-size: 1.2rem;
    }
    ul {
        margin-top: 30px;
        font-size: 1.7rem;
    }
    .todoItem {
        width: 68%;
    }
    .check {
        top: -14px;
    }
    .checkmark {
        left: 0;
        height: 36px;
        width: 36px;
    }
    .check .checkmark:after {
        width: 10px;
        height: 32px;
    }
    .status {
        font-size: 0.1rem;
        visibility: hidden;
    }
    .close {
        padding-top: 5px;
        width: 36px;
        height: 36px;
    }
    .close:before, .close:after {
        right: 7vw;
        height: 36px;
    }
    .close:hover:before, .close:hover:after {
        right: 7vw;
        height: 36px;
    }
}

/* Media query for screen smartphone */

@media screen and (max-width: 900px) and (min-width: 0px) {
    main {
        position: absolute;
        bottom: 8%;
        width: 100%;
        height: 80%;
    }
    h2 {
        position: absolute;
        top: -56px;
        left: 0;
        right: 0;
        font-size: 3rem;
        margin-top: 10px;
    }
    form {
        margin-top: -16px;
    }
    input[type=text] {
        font-size: 1.2rem;
    }
    button[type=button] {
        background-color: rgb(147, 36, 250);
        font-size: 1.2rem;
    }
    ul {
        margin-top: 30px;
        font-size: 1.7rem;
    }
    .todoItem {
        width: 68%;
    }
    .check {
        top: -14px;
    }
    .checkmark {
        left: 0;
        height: 36px;
        width: 36px;
    }
    .check .checkmark:after {
        width: 10px;
        height: 32px;
    }
    .status {
        font-size: 0.1rem;
        visibility: hidden;
    }
    .close {
        padding-top: 5px;
        width: 36px;
        height: 36px;
    }
    .close:before, .close:after {
        right: 14vw;
        height: 36px;
    }
    .close:hover:before, .close:hover:after {
        right: 14vw;
        height: 36px;
    }
}